EXPO_PUBLIC_PRIVY_APP_ID=
EXPO_PUBLIC_PRIVY_CLIENT_ID=
EXPO_PUBLIC_BSC_RPC_URL=https://bsc-dataseed.binance.org
EXPO_PUBLIC_BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
EXPO_PUBLIC_LIFE_TOKEN_ADDRESS=
EXPO_PUBLIC_EXPLORER_API_KEY=
