EXPO_PUBLIC_PRIVY_APP_ID=
EXPO_PUBLIC_PRIVY_MOBILE_CLIENT_ID=
EXPO_PUBLIC_PRIVY_WEB_CLIENT_ID=
EXPO_PUBLIC_PRIVY_KEY_EXPORT_URL=https://life-network.co.kr/security/export
EXPO_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
EXPO_PUBLIC_SOLANA_DEVNET_RPC_URL=https://api.devnet.solana.com
EXPO_PUBLIC_LIFE_TOKEN_MINT=
EXPO_PUBLIC_EXPLORER_API_KEY=
